#contenedor{
	width: 100%;
	height: 100%;
	position: fixed;
}

body{
	background: url(weather.jpg);
}

#time{
	width: 165px;
	height: 40px;
	position: relative;
	color: rgb(93,111,255);
	margin-top: 10px;
	top: -1%;
	font-weight: bold;
	text-align: center;

}
#since{
	width: 220px;
	height: 40px;
	position: relative;
	color: rgb(93,111,255);
	left: 83%;
	top: 3%;
	font-weight: bold;
}
#temperature{
	width: 200px;
	height: 35px;
	position: relative;
	color: rgb(135,185,114);
	text-align: center;
	left: 50%;
	margin-left: -100px;
	margin-top: -65px;
	font-weight: bolder;
	font-size: large;
}
#temperature:hover{
	color: white;
}
#hits{
	width: 240px;
	height: 40px;
	position: relative;
	color: rgb(135,185,114);
	left: 81%;
	text-align: center;
	top: -14%;
	font-weight: bold;
	font-size: large;
}

#titulo{
	position: relative;
	top: 35%;
	left: 50%;
	width: 680px;
	height: 180px;
	margin-top: -100px;
	margin-left: -340px;
	text-align: center;
	font-size: x-large;
	font-weight: bold;
	color: #1B1442;
	background-color: rgba(131,115,146,0.62);
	border-radius: 100px;
}

#icon{
	background: url(temp1.png);
	width: 128px;
	height: 128px;
	position: relative;
	left: 50%;
	margin-left: -64px;
}
#icon:hover{
	background: url(temp2.png);
}